<section class="container">
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <p>{{post.user.name}}</p>
</section>

{{#each post.comments as |comment|}}
<section class="card">
   <p>
   {{comment.content}}
   </p>
</section>
 {{/each}}

<button type="button" class="btn btn-primary" id="add-comment-btn">Add Comment</button>

<section class="hidden" id="comment-form">
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="content">content:</label>
        <textarea class="form-input" id="content" name="content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      <input class="hidden" name="post_id" type="text" value="{{post.id}}" id="post_id" />
    </form>
</section>


<script src="/js/comment.js"></script>
